.header,
.nav-menu,
.price {
    font-family: Arial, sans-serif
}

ul {
    margin:0;
    padding:0;
    list-style:none
}

h1 {
    font-size: 2.1em;
    display: block;
    text-align:center;
}

.StudentList li{
    border: 1px black solid;
    padding:15px;
    margin-bottom:5px;
    text-align:center;
    font-size:1.5rem;
}

p {
    font-size:1.1rem;
    text-align:center;
}
p .title{
    font-size:1.3rem;
    font-weight:600;
}

.nav-menu,
.nav-menu a:visited,
a:link {
    color: #fff8dc
}

.form-content {
    text-align:center;
    display: block;
    margin: auto;
    padding: 25px;
}

.div-form{
    margin: 0 40%;
}

.div-form.item-count{
    font-size:20px;
    margin-bottom:10px;
}

form>button,
form>input,
form>textarea {
    display: block;
    width: 100%;
    padding: 5px 8px;
    margin-bottom: 8px;
    border-radius: 3px;
    border: 1px solid #888;
    font-size: 15px;
    background: 0 0;
    box-shadow: none;
    text-align:center;
}

form>button{
    margin:0 3%;
    padding:10px;
    width:100%;
    background:burlywood;
    color:white;
}

.nav-menu {
    list-style-type: none;
    font-size: 1.2em;
    background-color: #8b0000;
    font-weight: 700;
    padding-top: 25px;
    padding-bottom: 25px
}

.nav-menu li {
    display: inline-block;
    width: 50%;
    text-align: center
}

.menu-item-link a,
a:link,
a:visited {
    color: #000;
    text-decoration: none
}

.menu-item-link a:hover {
    text-decoration: underline
}